.insta_app {
  background-color: #37474f;
  min-height: 100vh;

  .user_info {
    img {
      width: 50px;
      height: 50px;
      object-fit: contain;
      border-radius: 50%;
    }
  }

  .insta_main_page {
    padding-left: 300px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

.card {
  max-width: 400px;
  margin: 15px auto;

  img {
    width: 400px;
    height: 400px;
    object-fit: cover;
  }
}

.settings {
  width: 1000px;
  margin: 0 auto;

  & > * {
    padding: 40px 40px;
    background-color: whitesmoke;
    margin-bottom: 10px;
  }
}

.user_card {
  margin: 20px 0 0 20px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  background-color: whitesmoke;

  a {
    margin-bottom: 15px;
    p {
      text-align: center;
    }

    img {
      margin: 0 auto;
      width: 100px;
      height: 100px;
    }
  }
}

.friends {
  display: flex;
  padding: 20px 100px;
}
.friends_search {
  padding: 30px 30px;
  width: 1000px;
  margin: 20px auto;
  background-color: whitesmoke;
  color: black;
}