@import "components/postCard";
@import "components/settingsPage";
@import "components/userCard";
@import "components/menu";

@font-face {
  font-family: Roboto-Medium;
  src: url(../fonts/Roboto-Medium.ttf);
}

body {
  font-family: Roboto-Medium;
  background-color: #37474f;
  box-sizing: border-box;
  &::-webkit-scrollbar {
    width: 0;
  }
}

.app {
  background-color: #37474f;
  width: 1200px;
  margin: 0 auto;
  min-height: 100vh;

  .insta_main_page {
    padding-left: 300px;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
}
.friends {
  display: flex;
  padding: 20px 100px;
  .user_card {
    margin: 20px 0 0 20px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    background-color: whitesmoke;

    .user_links {
      margin-top: 10px;
    }

    a {
      margin-bottom: 15px;

      p {
        text-align: center;
      }

      img {
        margin: 0 auto;
        width: 100px;
        height: 100px;
      }
    }
  }
}
.friends_search {
  padding: 30px 30px;
  width: 1000px;
  margin: 20px auto;
  background-color: whitesmoke;
  color: black;
}