.friends {
  margin-top: 5vh;

  #friends-tabs {
    display: flex;
    justify-content: space-between;

    a {
      color: whitesmoke;

      &:hover {
        color: #F0ED40;
      }
    }

    a.active {
      color: #F0ED40;
    }

    .indicator {
      display: none;
    }
  }
}

.friend-card {
  width: 100%;
  background-color: #212121;
  color: whitesmoke;
  display: flex;
  flex-direction: row;

  .title {
    color: #F0ED40;
  }

  &__image {
    max-width: 30%;
    max-height: 400px;

    img {
      max-height: 400px;
    }
  }

  @media all and (max-width: 998px) {
    width: 100%;
  }
}

.friends-search {
  margin-top: 10px;
  color: whitesmoke;
}

.friends-search__field {
  color: whitesmoke;

  input {
    color: whitesmoke;
  }
}
