.friends {
  margin-top: 5vh;
  .carousel-item {
    height: 100%;
    overflow: auto;
  }
  #friends-tabs {
    display: flex;
    justify-content: space-between;
    a {
      color: whitesmoke;

      &:hover {
        color: rebeccapurple;
      }
    }

    a.active {
      color: mediumpurple;
    }

    .indicator {
      display: none;
    }
  }
}

.friend-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px 25px;
  border: 1px solid whitesmoke;
  width: 60%;
  margin-bottom: 20px;
  background-color: #212121;

  a {
    text-align: center;
    margin-bottom: 15px;
    img {
      width: 100px;
    }
  }
  &__about {
    margin-left: 30px;
    color: whitesmoke;
  }
  &__links {
    margin-left: 30px;

    margin-top: 10px;
  }

  @media all and (max-width: 998px) {
    width: 100%;
    .btn {
      font-size: 10px;
    }
  }
}

.friends-search {
  margin-top: 10px;
  color: whitesmoke;
}
.friends-search__field {
  color: whitesmoke;
  input {
    color: whitesmoke;
  }
}
