.menu {
  .menu-nav {
    z-index: 9999;
    position: fixed;
    width: 300px;
    margin-top: 50px;
    .menu-nav__user {
      display: flex;
      color: whitesmoke;
      align-items: center;
      font-size: 1.5rem;
      a {
        margin-right: 30px;
      }
      img {
        width: 100px;
        height: 100px;
      }
    }
    .menu-nav__items {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 70vh;

      .menu-nav__item {
        font-family: Roboto-Regular;
        font-size: 1.3rem;
        width: 100%;
        color: #ffffff;
        transition:all 0.1s ease-in-out ;
        display: flex;
        &:hover {
          background-color: #a838ff;
          color: whitesmoke;
        }
        i {
          color: yellow;
          margin-right: 10px;
        }
        button {
          all: unset;
          color: #ffffff;
        }
      }
    }
    @media screen and (max-width: 996px) {
      display: none;
    }
  }

  .mobile-menu__top {
    button {
      all: unset;
      color: yellow;
    }
    display: none;
    z-index: 9999;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #212121;
    color: whitesmoke;
    border-bottom: 1px solid black;
    @media screen and (max-width: 996px) {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
    img {
      width: 50px;
      height: 50px;
      object-fit: contain;
      border-radius: 50%;
    }
  }

  .mobile-menu__bottom {
    display: none;
    z-index: 9999;
    bottom: 0;
    position: fixed;
    width: 100%;
    color: whitesmoke;
    background-color: #212121;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      li a {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-family: Roboto-Regular;
        align-items: center;
        font-size: 14px;
        color: white;
        i {
          font-size: 30px;
          color: yellow;
        }
        .badge {
          position: absolute;
          left: 10px;
          bottom: 60px;
          color: red;
          font-size: 6rem;
        }
      }
    }
    @media screen and (max-width: 996px) {
      display: block;
    }
  }
}