.liked-users {
  position: relative;

  &__container {
    max-width: 300px;
    min-width: 270px;
    min-height: 50px;
    background-color: rgba(0, 0, 0, 0.9);
    bottom: 60px;
    left: 5px;
    border-radius: 15px;
    position: absolute;
    padding: 15px;
    .liked-users__close {
      cursor: pointer;
      top: 15px;
      position: absolute;
      right: 0;
      color: whitesmoke;
      i {
        color: whitesmoke !important;
      }
    }

    &::after {
      display: block;
      content: '';
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid rgba(0, 0, 0, 0.9);
      position: absolute;
      bottom: -15px;
      left: 16px;
    }

    .liked-users__cards{
      display: flex;
      flex-direction: row;
      margin-top: 15px;
    }

  }
  &__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}