@import "popupCloudBlock";

.post-card {
  padding: 0 20px;
  background-color: #212121;

  .card-header {
    padding: 5px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .card-header__userinfo {
      display: flex;

      .card-header__avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        width: 70px;
        height: 70px;
        overflow: hidden;
        img {
          width: 100%;
        }
      }

      .card-header__username {
        font-size: 2em;
        color: whitesmoke;
      }
    }

    i {
      color: #F0ED40;
    }
  }

  .card-image {
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .card-content {
    a {
      color: #F0ED40;
    }

    img {
      width: 50px;
      height: 50px;
      object-fit: contain;
    }
  }

  .card-action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;

    a span {
      color: #F0ED40;
    }

    i {
      color: #F0ED40;
    }
  }
}



