.checklist-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.main-sectionn {
    width: 80%;
    margin: 0 auto;
}
.main-field {
    width: 70%;
    display: inline-block;

}
.checklist-form-add {
    width: 20%;
    display: inline-block;
    vertical-align: top;
}
.empty-checklist-active {
    display: none;
}

.checklists {
    width: 500px;
}