.card {
  max-width: 400px; }
  .card .card-header {
    padding: 5px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .card .card-header .card-header__userinfo {
      display: flex; }
      .card .card-header .card-header__userinfo .card-header__avatar {
        margin-right: 10px; }
        .card .card-header .card-header__userinfo .card-header__avatar img {
          width: 70px;
          height: 70px;
          object-fit: cover; }
      .card .card-header .card-header__userinfo .card-header__username {
        font-size: 2em; }
  .card .card-image img {
    width: 100%;
    height: 400px;
    object-fit: contain; }
  .card .card-content a {
    color: #1a237e; }
  .card .card-content img {
    width: 50px;
    height: 50px;
    object-fit: contain; }
  .card .card-action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .card .card-action i {
      color: #1a237e; }
  @media screen and (max-width: 996px) {
    .card {
      width: 95%;
      display: none; } }

.settings {
  width: 1000px;
  margin: 0 auto; }
  .settings > * {
    padding: 40px 40px;
    background-color: whitesmoke;
    margin: 5px 0; }

.userView {
  position: fixed;
  top: 5vh;
  height: 90vh;
  background-color: whitesmoke;
  width: 400px; }
  .userView img {
    width: 400px; }
  @media screen and (max-width: 996px) {
    .userView {
      display: none; } }

.menu .menu-nav {
  width: 300px;
  height: 90vh;
  background-color: whitesmoke;
  position: fixed;
  top: 5vh; }
  .menu .menu-nav .menu-nav__user {
    width: 100%;
    height: 30vh; }
    .menu .menu-nav .menu-nav__user img {
      width: 100%;
      height: 30vh;
      object-fit: cover; }
  .menu .menu-nav .menu-nav__items {
    display: flex; }
    .menu .menu-nav .menu-nav__items div {
      width: 100%; }
    .menu .menu-nav .menu-nav__items .menu-nav__item {
      font-size: 1.3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      border: 1px solid black;
      width: 100%;
      height: 15vh;
      background-color: yellow;
      color: black; }
      .menu .menu-nav .menu-nav__items .menu-nav__item:hover {
        background-color: rgba(255, 255, 0, 0.67); }
  @media screen and (max-width: 996px) {
    .menu .menu-nav {
      display: none; } }

.menu .mobile-menu__top {
  display: none;
  z-index: 9999;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: yellow;
  color: whitesmoke;
  border-bottom: 1px solid black; }
  @media screen and (max-width: 996px) {
    .menu .mobile-menu__top {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; } }
  .menu .mobile-menu__top img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 50%; }

.menu .mobile-menu__bottom {
  display: none;
  z-index: 9999;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: yellow;
  color: whitesmoke;
  border-top: 1px solid black; }
  @media screen and (max-width: 996px) {
    .menu .mobile-menu__bottom {
      display: block; } }
  .menu .mobile-menu__bottom ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .menu .mobile-menu__bottom ul li a {
      color: purple; }
      .menu .mobile-menu__bottom ul li a i {
        font-size: 30px; }

@font-face {
  font-family: Roboto-Medium;
  src: url(../fonts/Roboto-Medium.ttf); }

body {
  font-family: Roboto-Medium;
  background-color: #37474f;
  box-sizing: border-box; }
  body::-webkit-scrollbar {
    width: 0; }

.app {
  background-color: #37474f;
  width: 1200px;
  margin: 0 auto;
  min-height: 100vh; }
  .app .insta_main_page {
    padding-left: 300px;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start; }

.friends {
  display: flex;
  padding: 20px 100px; }
  .friends .user_card {
    margin: 20px 0 0 20px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    background-color: whitesmoke; }
    .friends .user_card .user_links {
      margin-top: 10px; }
    .friends .user_card a {
      margin-bottom: 15px; }
      .friends .user_card a p {
        text-align: center; }
      .friends .user_card a img {
        margin: 0 auto;
        width: 100px;
        height: 100px; }

.friends_search {
  padding: 30px 30px;
  width: 1000px;
  margin: 20px auto;
  background-color: whitesmoke;
  color: black; }
