.insta_app {
  background-color: #37474f;
  min-height: 100vh; }
  .insta_app .insta_posts {
    padding-left: 300px;
    overflow: auto; }
    .insta_app .insta_posts::-webkit-scrollbar {
      width: 0; }

.create_post {
  display: none; }

.card {
  max-width: 400px;
  margin: 15px auto; }

.card img {
  width: 400px;
  height: 400px;
  object-fit: cover; }
