@font-face {
    font-family: Roboto-Medium; /* Имя шрифта */
    src: url(../fonts/Roboto-Medium.ttf); /* Путь к файлу со шрифтом */
}

body {
    min-height: 100vh;
    font-family: Roboto-Medium;
}

.welcome__header ul{
    display: flex;
    flex-direction: row-reverse;
}
li {
    margin-left: 20px;
    transition: 0.4s all;
}

li a {
    text-decoration: none;
    color: #0f0f0f;
}
li:last-child {
    border-right: 2px solid #0f0f0f;
    padding-right: 20px;
}
.welcome__page {
    display: flex;
}

.welcome {
    width: 50%;
    min-height: 100vh;
}

.welcome__left {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
}

.welcome__right {
    background-color: #F0ED40;
    padding: 40px 200px;
    font-size: 1em;
}

.welcome__promo{
    margin-top: 200px;

}
.welcome__login-auth{
    display: none;
}
/* label color */
.input-field label {
    color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
/*.input-field input[type=text].invalid {*/
/*    border-bottom: 1px solid #000;*/
/*    box-shadow: 0 1px 0 0 #000;*/
/*}*/
/* icon prefix focus color */
.input-field .prefix.active {
    color: #000;
}
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}