@font-face {
  font-family: Roboto-Medium;
  src: url(../fonts/Roboto-Medium.ttf); }

@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf); }

.error-page {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #121212;
  font-size: 2rem;
  color: yellow;
  height: 100vh;
  width: 100vw; }
  .error-page a {
    display: inline-block;
    color: yellow;
    margin-top: 100px;
    border-bottom: 1px solid yellow; }
  @media screen and (max-width: 996px) {
    .error-page {
      flex-direction: column;
      text-align: center; } }

.about {
  display: flex; }
  .about-items {
    width: 1000px;
    margin: 0 auto; }
  .about-item {
    margin-top: 60px;
    border-left: 15px solid purple;
    padding-left: 30px;
    font-family: Roboto-Regular; }
    .about-item:nth-child(2n) {
      border-left: none;
      border-right: 15px solid purple; }
    .about-item__header {
      font-size: 3rem;
      font-family: Roboto-Medium; }
  @media screen and (max-width: 996px) {
    .about-items {
      width: 100vw;
      padding: 0 20px;
      max-height: 90vh;
      overflow: auto; }
    .about-item__header {
      font-size: 2rem; } }

.back_link {
  width: 200px;
  height: 100vh;
  background-color: rgba(75, 32, 157, 0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition-property: background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  color: black; }
  .back_link:hover {
    background-color: rgba(75, 32, 157, 0.62);
    color: whitesmoke; }
  @media screen and (max-width: 996px) {
    .back_link {
      width: 100vw;
      position: fixed;
      bottom: 0;
      height: 10vh; } }

body {
  min-height: 100vh;
  font-family: Roboto-Medium; }

.welcome__page {
  display: flex; }
  @media screen and (max-width: 1100px) {
    .welcome__page {
      display: block;
      width: 100%; } }
  .welcome__page .welcome__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    width: 50%;
    min-height: 100vh; }
    @media screen and (max-width: 1100px) {
      .welcome__page .welcome__left {
        width: 100%; }
        .welcome__page .welcome__left img {
          width: 100%; } }
    .welcome__page .welcome__left .arrow_down {
      display: none; }
      @media screen and (max-width: 1100px) {
        .welcome__page .welcome__left .arrow_down {
          display: block;
          margin-top: 40px; } }
  .welcome__page .welcome__right {
    background-color: #F0ED40;
    padding: 40px 9vw;
    font-size: 1.2em;
    min-height: 100vh;
    width: 50%; }
    @media screen and (max-width: 1400px) {
      .welcome__page .welcome__right {
        padding: 40px 5vw; } }
    @media screen and (max-width: 1100px) {
      .welcome__page .welcome__right {
        width: 100%;
        padding: 50px 10vw 0; } }
    .welcome__page .welcome__right .welcome__header ul {
      display: flex;
      flex-direction: row-reverse; }
      .welcome__page .welcome__right .welcome__header ul li a {
        text-decoration: none;
        padding-bottom: 5px;
        background-image: linear-gradient(black, black);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: .3s ease-in-out;
        color: #0f0f0f;
        margin-left: 25px; }
        @media screen and (max-width: 1100px) {
          .welcome__page .welcome__right .welcome__header ul li a {
            margin-left: 15px; } }
        .welcome__page .welcome__right .welcome__header ul li a:hover {
          color: black;
          background-size: 100% 2px; }
    .welcome__page .welcome__right .welcome__promo {
      margin-top: 200px; }
      @media screen and (max-width: 1100px) {
        .welcome__page .welcome__right .welcome__promo {
          margin-top: 70px; } }
      .welcome__page .welcome__right .welcome__promo .danger_message {
        border: 1px solid blueviolet;
        font-size: 1.2rem;
        border-radius: 4px; }
